h1 {
    font-size: 45px;
}
h3 {
    font-size: 15px;
}
.contenedor {
    margin-top: 20%;
}
.bloque {
    margin-top: 10px;
    padding-left: 25px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}
button {
    width: 100%;
    height: 35px;
    color: black;
    border-radius: 7px;
    margin-top: 25px;
}
input {
    height: 22px;
    border-radius: 7px;
    color: black;
}
a {
    color: blue;
}